<form>
    <div class="row">
        <div class="form-group col-sm-4">
            <div class="row">
                <label for="piSize" class="col-sm-6 col-form-label"><strong>Digits to Compute:</strong></label>
                <div class="col-sm-6">
                    <select class="custom-select" ng-model="digitOption" ng-options="o for o in digitOptions track by o">                       
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary" ng-click="submitJob()" ng-disabled="jobRunning">Submit</button>
        </div>
    </div>  
    <div class="row">
        <table class="table table-inverse">
            <thead>
                <tr>
                    <th>Digits</th>
                    <th>Pi</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in data">
                    <th scope="row">{{row.digits}}</th>
                    <th scope="row">{{row.value}}</th>
                    <th scope="row">{{row.progress}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</form>